<!-- search control -->
<input type="search" [formControl]="control" placeholder="search here" />

<!-- search results -->
<div class="content-area">
  <h1>Search Results</h1>
  <table>
    <thead>
      <th *ngFor="let field of fields">
        {{ field.label }}
      </th>

      <!-- add logo field -->
      <th>Logo</th>
    </thead>
    <tbody>
      <tr *ngFor="let company of companiesFilter | async">
        <td *ngFor="let field of fields">
          {{ company[field.key] }}
        </td>

        <!-- show img -->
        <td>
          <img [src]="domSanitizer.bypassSecurityTrustUrl(company['logo'])" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
